body {
    font-family: -apple-system, 'Open Sans', sans-serif;
    //font-size: 8px;
}

.topnav {
  margin-bottom: 10px;
}

.effortButton {
  width: 80px;
}

.section {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}
